@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(180deg, rgb(29, 91, 141), rgb(0, 127, 231), rgb(29, 91, 141));
}

.header-design{
    width: 95%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-design-image{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;

}
.header-design-image img{
    width: 80%;
    margin-left: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-design-nav{
    width: 60%;
    height: 100%;
    padding: 0 12%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 0.2rem;
}
.header-design-nav a{
    text-decoration: none;
    color: #fff;
}

.header-design-nav li{
    text-align: center;
}

.design-nav-line {
    margin-top: 2px;
    width: 90px;
    height: 2.5px;
    background: #fff;
    border-radius: 25px;
    transform-origin: center bottom;
    transition: transform 500ms;

}

.header-design-nav li:nth-child(2) a {
    color: #F5992D;

}

.header-design-nav li:nth-child(2) .design {
    background: #F5992D;

}

na.header-design-navv li:hover {
    transform: scale(1.1) translateY(10%);
}

.header-design-nav li:hover a {
    color: #F5992D;
}

.header-design-nav li:hover .design-nav-line {
    transform: scaleY(1.2);
    background: #F5992D;
}

.header-design-button{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-design-button button{
    letter-spacing: 0.2rem;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 35px;
    padding: 5%;
    background-color: orange;
    width: 100%;
    height: 55px;
    cursor: pointer;
    font-size: 10px;
}

/*Smartphones*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header-design{
        width: 95%;
        height: 70px;
        margin-top: 4%;
    }
    .header-design-image{
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    .header-design-image img{
        width: 40%;
    }

    .header-design-nav{
        display: none;
    }
    
    .header-design-button{
        display: none;
    }

}

/*Tablets*/
@media screen (min-width: 767px) and (max-width: 1024px) {
    .header-design{
        width: 95%;
        height: 70px;
    }
    .header-design-image{
        width: 20%;
        justify-content: center;
        align-items: center;
    }
    .header-design-image img{
        width: 100%;
    }

    .header-design-nav{
        width: 60%;
        padding: 0 9%;
        font-size: 10px;
    }

    .header-design-button{
        width: 30%;
    }

    .header-design-button button{
        font-size: 8px;
        width: 100%;
        height: 35px;
    }

}
